* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.detailsItem {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
}

/* containerLeft */
.detailsItem .containerLeft {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
}

.detailsItem .containerLeft .cardImg {
    display: flex;
    justify-content: center;
    
}

.detailsItem .containerLeft Img{
    width: 100%;
}

/* containerRigth */
.detailsItem .containerRigth {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 600px;
}

.detailsItem .containerRigth .descriptionItem {
    display: flex;
    flex-direction: column;

}

.detailsItem .containerRigth .cardDescription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 450px
    
}


/* title */
.detailsItem .containerRigth .cardDescription .title {
    font-size: 45px;
    margin: 10px 0;
}

/* description */
.detailsItem .containerRigth .cardDescription .description {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

.detailsItem .containerRigth .cardDescription .description .descriptionTitle {
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
}

.detailsItem .containerRigth .cardDescription .description .parrafo {
    font-size: 18px;
    margin: 10px 0;
}

/* stock */
.detailsItem .containerRigth .cardDescription .cant{
    font-size: 18px;
    margin: 10px 0;
}


/* precio */
.detailsItem .containerRigth .cardDescription .precio{
    color: #5b00fb;
    font-weight: bold;
    font-size: 55px;
    margin: 10px 0;
}

/* buttons */
.detailsItem .containerRigth .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    margin: 10px 0;
}

.detailsItem .containerRigth .buttons .addCantCart{
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5b00fb;
    border-radius: 50px;
    height: 60px;
}

.detailsItem .containerRigth .buttons .addCantCart span {
    font-weight: 20px;
    margin: 0 10px;
}

.detailsItem .containerRigth .buttons .addCantCart div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
}



.detailsItem .containerRigth .buttons .addCantCart div #quitar, .detailsItem .containerRigth .buttons .addCantCart div #aumentar {
    background-color: #5b00fb;
    border: none;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 20px;
}

.detailsItem .containerRigth .buttons #detalles{
    width: 48%;
    background-color: #5b00fb;
    border-radius: 50px;
    color: white;
    border: none;
    font-size: 21px;
}